NET "clr" LOC = J15 | IOSTANDARD=LVCMOS33;
NET "clk" LOC = E3  | IOSTANDARD=LVCMOS33;
NET "clk_out" LOC = J17 | IOSTANDARD=LVCMOS33;

NET "salida_alu<0>" LOC = H17 | IOSTANDARD=LVCMOS33;
NET "salida_alu<1>" LOC = K15 | IOSTANDARD=LVCMOS33;
NET "salida_alu<2>" LOC = J13 | IOSTANDARD=LVCMOS33;
NET "salida_alu<3>" LOC = N14 | IOSTANDARD=LVCMOS33;
NET "salida_alu<4>" LOC = R18 | IOSTANDARD=LVCMOS33;
NET "salida_alu<5>" LOC = V17 | IOSTANDARD=LVCMOS33;
NET "salida_alu<6>" LOC = U17 | IOSTANDARD=LVCMOS33;
NET "salida_alu<7>" LOC = U16 | IOSTANDARD=LVCMOS33;
NET "salida_alu<8>" LOC = V16 | IOSTANDARD=LVCMOS33;
NET "salida_alu<9>" LOC = T15 | IOSTANDARD=LVCMOS33;
NET "salida_alu<10>" LOC = U14 | IOSTANDARD=LVCMOS33;
NET "salida_alu<11>" LOC = T16 | IOSTANDARD=LVCMOS33;
NET "salida_alu<12>" LOC = V15 | IOSTANDARD=LVCMOS33;
NET "salida_alu<13>" LOC = V14 | IOSTANDARD=LVCMOS33;
NET "salida_alu<14>" LOC = V12 | IOSTANDARD=LVCMOS33;
NET "salida_alu<15>" LOC = V11 | IOSTANDARD=LVCMOS33;


